<h1>Редактировать курс {{course.title}}</h1>

<form action='/courses/edit' method='POST' enctype='multipart/form-data'>
    <div id='add_editCourse' class='input-field'>
        <input id='title' name='title' type='text' class='validate{{invalid}}' value='{{course.title}}' />
        <label for='title'>Название курса</label>
        <span id='helper-title' class='helper-text' data-error='{{helper}}'></span>
    </div>

    <div class='input-field'>
        <input id='price' name='price' type='number' class='validate{{invalid}}' value='{{course.price}}' />
        <label for='price'>Цена курса (в доларах)</label>
        <span id='helper-price' class='helper-text' data-error='{{helper}}'></span>
    </div>

    <div class='file-field input-field'>
        <div class='btn'>
            <span>Обложка курса</span>
            <input type='file' name='imgCourse' id='imgCourse' />
        </div>
        <div class='file-path-wrapper'>
            <input id='img' class='file-path validate{{invalid}}' type='text' value='{{img}}' />
            <span id='helper-img' class='helper-text' data-error='{{helper}}'></span>

        </div>
    </div>
    <input id='id' name='id' type='hidden' value='{{course.id}}' />
    <input type='hidden' name='_csrf' value='{{@root.csrf}}' />

    <button type='button' class='btn btn-primary'>Опубликовать</button>
</form>
<form action='/courses/delete' method='POST'>
    <input id='id' name='id' type='hidden' value='{{course.id}}' />
    <input type='hidden' name='_csrf' value='{{@root.csrf}}' />

    <button type='submit' class='btn btn-primary red right'>Удалить курс</button>
</form>